*{
    box-sizing: border-box;
}
body{
    max-height: 100vh;
    background-color:#363636;
}
#container{
    position: relative;
    transform: translateY(25%);
    text-align: center;
}
p{
    font-size: xx-large;
}
label{
    font-size: xx-large;
    cursor: pointer;
}
input{
    font-size: xx-large;
    background-color:#dcc5e9;
}
input[type="radio"]{
    margin-right: 20px;
    cursor: pointer;
}

button{
    font-size: x-large;
    padding: 10px;
    background-color:#a148ce;
    border: #363636;
    border-radius: 5%;
    cursor: pointer;
}
button:active{
    background-color: #8c24c4;
}
#answer{
    color:#dcc5e9;
}
